In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("objStats.csv")
df_resampled = pd.read_csv("objStatsResampled4kv2.csv")
display(df)

,name,class,vertices,faces,bbox,type
0,m1337.obj,AircraftBuoyant,201,340,0.025 0.889234 0.025 0.975 0.025 0.889234,triangles
1,m1338.obj,AircraftBuoyant,8761,16960,0.025 0.933058 0.025 0.975 0.025 0.937901,triangles
2,m1339.obj,AircraftBuoyant,1878,6173,0.025 0.607072 0.025 0.975 0.025 0.626812,triangles
3,m1340.obj,AircraftBuoyant,778,1457,0.025 0.367686 0.025 0.975 0.025 0.367689,triangles
4,m1341.obj,AircraftBuoyant,425,824,0.025 0.379575 0.025 0.975 0.025 0.379575,triangles
...,...,...,...,...,...,...
2478,D00687.obj,WheelChair,8188,16268,-0.832973 0.997014 -0.383821 0.545195 -0.44659...,triangles
2479,D00720.obj,WheelChair,43966,83378,-1.25623 0.625036 -0.511296 0.625521 -0.426438...,triangles
2480,D00782.obj,WheelChair,1144,1940,-1.18257 0.70089 -0.425223 0.702418 -0.596103 ...,triangles
2481,D00821.obj,WheelChair,8188,16268,-0.824906 1.00177 -0.346825 0.528973 -0.468272...,triangles
2482,D00846.obj,WheelChair,8834,17196,-0.915155 0.949551 -0.560325 0.519415 -0.62717...,triangles

In [5]:
# [General info] largest and smallest class
df.groupby("class").size().sort_values()

class
Hat                 15
Sign                15
AircraftBuoyant     16
Wheel               17
Fish                20
                  ...
PlantIndoors        65
Insect              66
Car                 89
Humanoid           142
Jet                143
Length: 69, dtype: int64

In [14]:
# [Comparative info] faces and verts before and after

# before
display(df.sort_values(["vertices", "faces"]))
print(df["vertices"].mean())
print(df["faces"].mean())

# after
display(df_resampled.sort_values(["vertices", "faces"]))
print(df_resampled["vertices"].mean())
print(df_resampled["faces"].mean())

,name,class,vertices,faces,bbox,type
665,D01121.obj,Door,16,16,0.025 0.567857 0.025 0.975 0.025 0.0521429,triangles
678,m1708.obj,Door,16,16,0.025 0.567857 0.025 0.975 0.025 0.052143,triangles
676,D01194.obj,Door,18,18,0.025 0.0373238 0.025 0.975 0.025 0.528047,triangles
996,m434.obj,House,22,26,0.025 0.658333 0.025 0.975 0.025 0.975,triangles
1587,m784.obj,MultiSeat,24,36,0.025 0.975 0.025 0.38125 0.025 0.277356,triangles
...,...,...,...,...,...,...
1927,D00564.obj,Rocket,73398,24466,-1.19684 0.594097 -0.138064 0.245138 -0.188417...,triangles
2095,D00058.obj,Skyscraper,73697,53448,-0.866731 0.966261 -0.316891 0.236562 -0.18560...,triangles
1703,D00049.obj,PlantIndoors,78288,26096,-0.589232 1.01327 -0.512441 1.15418 -0.661781 ...,triangles
1709,D00238.obj,PlantIndoors,90234,30078,-0.785201 0.767284 -0.874954 0.899353 -0.77848...,triangles
1708,D00159.obj,PlantIndoors,98256,32752,-1.02299 0.735003 -0.76005 0.812815 -0.766566 ...,triangles

5609.783326621023
10691.52597664116

,name,class,vertices,faces,bbox
716,D00709.obj,Drum,21,18,1.81358 1.99154 1.34997 1.60258 0.304391 0.380591
752,D00580.obj,FloorLamp,30,36,-1.1165982 1.0673761 -16.451353 17.630772 -0.5...
1429,D01120.obj,Knife,100,107,1.6094 2.068283 -4.32433 -0.26668 -0.1143 0.10795
2128,D00674.obj,Spoon,106,106,-0.534491 1.025559 -2.178684 0.7086 -0.257557 ...
2123,D00517.obj,Spoon,114,189,-10.10385 10.10385 -10.1767 69.7818 5.16126 10...
...,...,...,...,...,...
1821,m106.obj,Quadruped,4391,10408,0.0290368 0.21348 0.025 0.6574996 0.025 0.975
2224,m707.obj,Sword,4392,8626,0.025 0.269817 0.025 0.975 0.025 0.065561
1645,m787.obj,NonWheelChair,4392,10596,0.025 0.572806 0.025 0.975 0.025 0.572806
760,D00981.obj,FloorLamp,4393,9794,-0.46224 1.0172921 -0.56175 0.360743 -0.448819...
1299,m1175.obj,Jet,4394,11238,0.025 0.665258 0.025 0.321351 0.025002 0.9695761

2715.605316149819
6002.306081353202

In [24]:
# [Comparative info] largest and smallest vertices average after processing
df_specific_class = df[["vertices", "faces", "class"]].groupby("class").mean()
print(df_specific_class[df_specific_class.index == "Spoon"])
print(df_specific_class[df_specific_class.index == "Fish"])

display(df_resampled[["vertices", "faces", "class"]].groupby("class").mean().sort_values(["vertices", "faces"]))

       vertices   faces
class
Spoon    958.55  3291.0
       vertices    faces
class
Fish    3898.45  6529.15

               vertices        faces
class
Spoon        919.150000  1251.900000
Sword       1247.698113  2830.226415
Knife       1566.259259  3326.962963
Glasses     1573.700000  4141.000000
PianoBoard  1689.500000  2328.900000
...                 ...          ...
Chess       3454.309524  7652.000000
Cup         3457.400000  7575.200000
Vase        3463.300000  7712.950000
Hand        3613.891892  7689.378378
Fish        3826.200000  7117.550000

[69 rows x 2 columns]

In [28]:
# [Comparative info] finding outliers
df[df["class"] == "Spoon"].sort_values(["vertices", "faces"])

,name,class,vertices,faces,bbox,type
2121,D00474.obj,Spoon,72,363,-0.150256 -0.01698 0.020605 0.04325 0.0 0.00685,triangles
2120,D00422.obj,Spoon,109,528,-0.027843 0.039432 -0.116957 -0.093315 0.06464...,triangles
2122,D00497.obj,Spoon,144,852,0.006005 0.054753 0.035645 0.058796 -0.0 0.248042,triangles
2125,D00593.obj,Spoon,144,918,0.0 1.597584 0.0 0.311811 0.0 8.357558,triangles
2128,D00674.obj,Spoon,173,966,-0.559925 1.050993 -2.178684 1.516141 -0.25755...,triangles
2133,D00964.obj,Spoon,211,1014,-2.81 2.81 -5.62 19.855871 0.88 3.13755,triangles
2116,D00144.obj,Spoon,243,1407,0.121356 0.186049 0.300286 0.618646 0.031978 0...,triangles
2130,D00790.obj,Spoon,284,1623,-0.018031 13.033793 -3.277825 8.968065 -0.0 11...,triangles
2131,D00842.obj,Spoon,291,1647,0.482661 1.210242 1.835353 1.964791 -0.29845 -...,triangles
2117,D00157.obj,Spoon,386,2499,-0.884846 0.922286 -0.6884 6.321997 -0.0 0.455736,triangles
2119,D00338.obj,Spoon,481,3021,-0.538977 13.447721 0.169091 12.13092 0.0 4.74...,triangles
2123,D00517.obj,Spoon,487,2697,-10.1767 10.1767 -10.1767 195.832 0.0 10.1767,triangles
2127,D00669.obj,Spoon,556,3324,-0.33655 0.33655 -0.04445 1.083619 0.018273 0....,triangles
2115,D00085.obj,Spoon,575,3444,-1.422137 3.04557 1.328523 2.211927 -0.001013 ...,triangles
2114,D00014.obj,Spoon,748,4485,3.419584 4.279629 0.835941 5.10234 -0.025512 0...,triangles
2132,D00927.obj,Spoon,910,5448,-0.128479 0.666226 -0.085583 0.086442 -0.0 0.1...,triangles
2118,D00196.obj,Spoon,1512,4812,-0.160935 0.146018 -0.102328 0.105094 0.0 0.01905,triangles
2126,D00661.obj,Spoon,1848,10491,2.73779 4.41013 -0.591884 -0.208667 0.011549 0...,triangles
2124,D00562.obj,Spoon,4958,12999,-10.6701 2.94431 7.50555 13.7349 -4.60375 1.18445,triangles
2129,D00683.obj,Spoon,5039,3282,-1.99653 -1.38032 1.29308 1.71307 -0.00210259 ...,triangles